<a class="bubble" href="{{ .URL }}">
    <i class="fa fa-fw fa-utensils"></i>
</a>

<article class="default recipe">
    {{ partial "featured-image" . }}
    {{ partial "recipe-content" . }}
    {{ partial "article-footer" . }}
</article>