.recipe {
    .content {
        .meta {
            border-bottom: none;
        }
    }

    &__heading {
        padding: 0;
        margin: 0 0 0;
        color: #444;
    }
    &__subhead {
        font-size: 13px;
        color: #555;
        margin-bottom: 30px;
    }
    &__ingredients {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-left: 10px;
        column-count: 1;
        li {
            margin-bottom: 5px;
        }
        li:before {
            content: '\2022';
            color: #eb9376;
            margin-right: 5px;
        }
    }
    
    h3 {
        &.recipe__section {
            border-bottom: 1px solid #eb9376;
            padding-bottom: 10px;
        }

        & + div {
            margin-bottom: 30px;
        }
    }
    
    @media (min-width:599px) {
        &__ingredients {
            column-count: 2
        }
    }
}