{{- if not .Params.gallery -}}
{{- if not .Params.featuredImage -}}
{{ .Scratch.Set "image" (.Site.Params.customImage | relURL) }}
{{- else -}}
{{ .Scratch.Set "image" (.Params.featuredImage) }}
{{- end -}}
{{- else -}}
{{ .Scratch.Set "image" (index (.Params.gallery) 0 | relURL | absURL) }}
{{- end -}}
{{- if ne .Description "" -}}
{{ .Scratch.Set "description" (.Description) }}
{{- else -}}
{{- if eq .Title .Site.Title -}}
{{ .Scratch.Set "description" (.Site.Params.description) }}
{{- else -}}
{{ .Scratch.Set "description" (printf "%s - %s" (.Title) (.Site.Params.description)) }}
{{- end -}}
{{- end -}}
{{- if eq .Site.Title .Title -}}
{{ .Scratch.Set "title" (.Site.Params.subtitle) }}
{{- else -}}
{{ .Scratch.Set "title" (.Title) }}
{{- end -}}

<!doctype html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="keywords" content="{{ .Site.Params.keywords }}">
    {{ hugo.Generator }}
    <title>{{ block "title" . }} {{ .Scratch.Get "title" }} | {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ .Scratch.Get "description" }}">
    <meta itemprop="name" content="{{ .Scratch.Get "title" }}">
    <meta itemprop="description" content="{{ .Scratch.Get "description" }}">
    <meta property="og:title" content="{{ .Scratch.Get "title" }}">
    <meta property="og:description" content="{{ .Scratch.Get "description" }}">
    <meta property="og:image" content="{{ .Scratch.Get "image" }}">
    <meta property="og:url" content="{{ .Permalink | absURL }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    {{- if .IsPage }}
    <meta property="og:type" content="article">
    {{- else -}}
    <meta property="og:type" content="website">
    {{- end }}

    {{ partial "favicon.html" . }}

    {{ if .RelPermalink }}
    <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    {{ with .Params.original_url }}
    <link rel=”canonical” href=”{{ . }}” />
    {{ end }}

    <link rel="stylesheet" href="{{ "theme.css" | absURL }}">

    {{ partial "twitter-card" . }}

    {{ if isset .Site.Params "css_modules" }}
    {{ range .Site.Params.css_modules }}
    <link rel="stylesheet" href="{{ . | absURL }}">
    {{ end }}
    {{ end }}
</head>

<body class="bilberry-hugo-theme">

    {{ partial "topnav" . }}

    {{ partial "header" . }}

    <div class="main container">
        {{ block "main" . }}{{ end }}
    </div>

    {{ partial "footer" . }}

    {{ template "_internal/google_analytics_async.html" . }}

    {{ if and (isset .Site.Params "enable_mathjax") (eq .Site.Params.enable_mathjax true) }}
    {{ partial "mathjax" . }}
    {{ end }}


    <script type="text/javascript" src="{{ "theme.js" | absURL }}"></script>

    {{ if isset .Site.Params "js_modules" }}
    {{ range .Site.Params.js_modules }}
    <script src="{{ . | absURL }}" type="application/javascript"></script>
    {{ end }}
    {{ end }}

    {{ if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}
    {{ partial "algolia-search" . }}
    {{ end }}


</body>

</html>
