<div class="content">
    <h1 class="article-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
    <div class="meta">
        {{ if ( .Params.showDate | default true ) }}
        {{ if (.Site.Params.enableMomentJs | default true ) }}
        <span class="date moment">{{ .PublishDate.Format "January 2, 2006" }}</span>
        {{ else }}
        <span class="date">{{ .PublishDate.Format (.Site.Params.DateFormat | default "2006-01-02") }}</span>
        {{ end }}
        {{ end }}

        {{ if (.Site.Params.showReadingTime | default false ) }}
        <span class="readingTime">{{ i18n "readingTime" .ReadingTime }}</span>
        {{ end }}

        {{ with .Params.categories }}
        <span class="categories">
            {{ range . }}
                {{ with $.Site.GetPage (printf "/categories/%s" ( . | urlize)) }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{ end }}
            {{ end }}
        </span>
        {{ end }}

        {{ with .Params.author }}
        <span class="author">
            {{ with $.Site.GetPage (printf "/author/%s" ( . | urlize)) }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        </span>
        {{ end }}
    </div>

    {{ if or (.Scratch.Get "singlePage") (.Params.noSummary) }}
    {{ .Content }}
    {{ else }}
    {{ .Summary }}

    {{ if .Truncated }}
    <a href="{{ .Permalink }}" class="more">{{ i18n "continueReading" }}</a>
    {{ end }}
    {{ end }}
</div>
