<div class="content">
    <h3><a href="{{ .URL }}">{{ .Title }}</a></h3>
    <div class="meta">
        {{ if ( .Params.showDate | default true ) }}
            {{ if (.Site.Params.enableMomentJs | default true ) }}
                <span class="date moment">{{ .PublishDate.Format "January 2, 2006" }}</span>
            {{ else }}
                <span class="date">{{ .PublishDate.Format (.Site.Params.DateFormat | default "2006-01-02") }}</span>
            {{ end }}
        {{ end }}

        {{ if (.Site.Params.showReadingTime | default false ) }}
            <span class="readingTime">{{ i18n "readingTime" .ReadingTime }}</span>
        {{ end }}

        {{ with .Params.prepTime }}
            <span class="prepTime">Prep: {{.}}</span>
        {{ end }}

        {{ with .Params.cookTime }}
            <span class="cookTime">Cook: {{.}}</span>
        {{ end }}

        {{ with .Params.categories }}
            <span class="categories">
                {{ range . }}
                    <a href="{{ (print "/categories/" ( . | urlize)) | relLangURL }}">{{ . }}</a>
                {{ end }}
            </span>
        {{ end }}

        {{ with .Params.author }}
            <span class="author"><a href="{{ (print "/author/" (. | urlize)) | relLangURL }}">{{ . }}</a></span>
        {{ end }}
    </div>
    
    {{ if or (.Scratch.Get "singlePage") (.Params.noSummary) }}
        {{ with .Params.description }}
            <p>{{ htmlUnescape . }}</p>
        {{ end }}
        <div class="recipe__body">
            <h3 class="recipe__section">Ingredients</h3>
            <div>
                {{ with .Params.ingredients }}
                    <ul class="recipe__ingredients">
                        {{ range . }}
                        <li>{{ htmlUnescape . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
            {{ with .Content }}
                <h3 class="recipe__section">Methods</h3>
                <p>
                    {{ . }}
                </p>
            {{ end }}
        </div>
    {{ else }}
        {{ .Summary }}

        <div class="recipe__body">
            <h3 class="recipe__section">Ingredients</h3>
            <div>
                {{ with .Params.ingredients }}
                    <ul class="recipe__ingredients">
                        {{ range . }}
                        <li>{{ htmlUnescape . }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
        </div>

        <a href="{{ .URL }}" class="more">{{ i18n "continueReading" }}</a>
    {{ end }}
</div>
